/* Header CSS */
header {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0;
}

.span-col {
	color: #ffbf35;
}


/* Nav Bar */
nav {
  display: flex;
  justify-content: center;
  background: #444;
  padding: 1em 0;
}


nav a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px;
  font-weight: bold;
}